.task-manager {
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-manager button {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-manager button:hover {
  background-color: #0056b3;
}

.task-manager button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 50px auto;
}

.sorting-controls {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.sorting-controls label {
  margin-right: 10px;
}

.sorting-controls select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.search-controls {
  margin: 20px 0;
  display: inline-flex;
  gap: 10px;
}

.search-controls input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
  flex-grow: 1; /* Makes the input take more space */
}

.empty-message {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}
